# ---------------------------------
# 巨大なデータセットや重いファイル
# ---------------------------------
my_dataset/
*.pt
*.onnx

# Python関連
venv/
env/
__pycache__/

# 重要な鍵ファイル
*.json
!manifest.json
!firebase.json
.firebaserc

# その他
.DS_Store